# Node modules directory
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Environment variables file
.env

# Mac system files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional IDE configurations
/.idea
*.swp

# Coverage directory used by tools like istanbul
coverage/

# Optional eslint cache
.eslintcache
